{% extends 'patient/base.html' %}

{% block body %}


 <div id="content-wrapper" style="background-color: radial-gradient(rgb(6, 36, 99), rgb(0, 0, 0));
 ;">

        <div class="container-fluid ">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb" style="background-color: #20202097;">
                <li class="breadcrumb-item">
                    <a href="">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Nearest Hospitals</li>
            </ol>

             <!-- Icon Cards-->
            
            
            
        </div>
        
        </div>


{% endblock %}

